on:
  workflow_call:
    inputs:
      working_directory:
        description: 'Directory of nx workspace'
        type: string
        default: './'
      action:
        description: 'Action to perform'
        type: string
        default: 'upload'
      app_location:
        description: 'Location of application source code'
        type: string
        default: '/'
      api_location:
        description: 'Location of api source code'
        type: string
        default: ''
      output_location:
        description: 'Location application is built to'
        type: string
        required: true
      files_for_deploy:
        description: 'Files to deploy'
        type: string
        default: "**/*.ts,**/*.html"
      files_separator:
        description: 'Separator for files_for_deploy'
        type: string
        default: ","
      always_deploy:
        description: 'Always deploy'
        type: boolean
        default: false
      debug:
        description: 'Debug flag'
        type: boolean
        default: false
    secrets:
      swa_token:
        description: 'Azure Static Web Apps API Token'
        required: true
      git_token:
        description: 'GitHub token'
        required: true

name: Azure Static Web Apps CI/CD

jobs:
  check_if_change_needed:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    name: Check If Deploy Needed
    outputs:
      should_deploy: ${{ steps.check.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Check If Change Needed
        id: check
        uses: tj-actions/changed-files@v37
        with:
          files: ${{ inputs.files_for_deploy }}
          files_separator: ${{ inputs.files_separator }}

      - name: Debug Output
        if: ${{ inputs.debug }}
        run: |
          echo "any_changed: ${{ steps.check.outputs.any_changed }}"
          echo "all_changed_files: ${{ steps.check.outputs.all_changed_files }}"

  build_and_deploy_job:
    if: >
      github.event_name == 'push'
      || (github.event_name == 'pull_request' && github.event.action != 'closed')
      && (needs.check_if_change_needed.outputs.should_deploy == 'true' || inputs.always_deploy == 'true')
    runs-on: ubuntu-latest
    needs: [check_if_change_needed]
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      # should theoretically speed up build and deploy.
      - uses: chill-viking/npm-ci@latest
        name: Install Dependencies
        with:
          working_directory: ${{ inputs.working_directory }}

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.swa_token }}
          repo_token: ${{ secrets.git_token }} # Used for Github integrations (i.e. PR comments)
          action: ${{ inputs.action }}
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: ${{ inputs.app_location }} # App source code path
          api_location: ${{ inputs.api_location }} # Api source code path - optional
          output_location: ${{ inputs.output_location }} # Built app content directory - optional
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.swa_token }}
          action: 'close'
